header h1{
  padding-top:12.5px;
  padding-bottom:12.5px;
}
aside h1{
  margin-top:50px;
  margin-bottom:50px;
}
.pair h1{
  margin-top:32.5px;
  margin-bottom:32.5px;
}
.group h1{
  margin-top:100px;
  margin-bottom:100px;
}
footer h1{
  margin-top:15px;
  margin-bottom:15px;
}
